# Compiled source #
###################
*.obj
*.d
*.gcno
*.o

# Packages #
############
*.rpm
*.sdp
*.tar.gz
*.tgz
*.bin
*.exe
*.tar
*.zip
*.jar

# Windows Specific #
####################
*.ccscc
*.dsp
*.dsw
*.vcproj
*.sln
*.pdb
*.vspscc
*.suo
*.vsscc
*.vssscc

# application binary list goes here.
# /maus_cnz/
MAUS/maus_dll/maus_cnz/maus1_cxc/bin/.debug/cphw_maus1d_dbg
MAUS/maus_dll/maus_cnz/maus1_cxc/bin/.debug/mauadmls_dbg
MAUS/maus_dll/maus_cnz/maus1_cxc/bin/.debug/maulock_dbg
MAUS/maus_dll/maus_cnz/maus1_cxc/bin/.debug/mauls_dbg
MAUS/maus_dll/maus_cnz/maus1_cxc/bin/.debug/mauunlock_dbg
MAUS/maus_dll/maus_cnz/maus1_cxc/bin/cphw_maus1d
MAUS/maus_dll/maus_cnz/maus1_cxc/bin/lib_ext/.debug/libcphw_mauslibh.so.1.*
MAUS/maus_dll/maus_cnz/maus1_cxc/bin/lib_ext/libcphw_mauslibh.so.1.*
MAUS/maus_dll/maus_cnz/maus1_cxc/bin/mauadmls
MAUS/maus_dll/maus_cnz/maus1_cxc/bin/maulock
MAUS/maus_dll/maus_cnz/maus1_cxc/bin/mauls
MAUS/maus_dll/maus_cnz/maus1_cxc/bin/mauset
MAUS/maus_dll/maus_cnz/maus1_cxc/bin/mauunlock
MAUS/maus_dll/maus_cnz/maus2_cxc/bin/cphw_maus2d
MAUS/maus_dll/maus_cnz/maus2_cxc/bin/.debug/cphw_maus2d_dbg
MAUS/maus_dll/maus_cnz/mausl_cxc/bin/lib_ext/.debug/libcphw_mauslibh.so.1.*
MAUS/maus_dll/maus_cnz/mausl_cxc/bin/lib_ext/libcphw_mauslibh.so.1.*
MAUS/maus_dll/maus_cnz/maus_adm_caa/common/obj/libcommon.a
MAUS/maus_dll/maus_cnz/maus_adm_caa/maus/obj/maus.a

# /mauso_cnz/
MAUS/maus_dll/mauso_cnz/mauso_cxc/bin/lib_ext/libCXC1060372.so.1.3.10
MAUS/maus_dll/mauso_cnz/mauso_cxc/bin/lib_ext/libCXC1060372.so.1.3.10.txt
MAUS/maus_dll/mauso_cnz/mauso_cxc/bin/lib_ext/libCXC1060372.so.1.3.12
MAUS/maus_dll/mauso_cnz/mauso_cxc/bin/lib_ext/libCXC1060372.so.1.3.12.txt
MAUS/maus_dll/mauso_cnz/mauso_cxc/bin/lib_ext/libCXC1060372.so.1.3.13
MAUS/maus_dll/mauso_cnz/mauso_cxc/bin/lib_ext/libCXC1060372.so.1.3.13.txt
MAUS/maus_dll/mauso_cnz/mauso_cxc/bin/lib_ext/libCXC1060372.so.1.3.14
MAUS/maus_dll/mauso_cnz/mauso_cxc/bin/lib_ext/libCXC1060372.so.1.3.14.txt
MAUS/maus_dll/mauso_cnz/mauso_cxc/bin/lib_ext/libCXC1060372.so.1.3.9
MAUS/maus_dll/mauso_cnz/mauso_cxc/bin/lib_ext/libCXC1060372.so.1.3.9.txt
MAUS/maus_dll/mauso_cnz/mauso_cxc/bin/lib_ext/libCXC1060386.so.1.4.1
MAUS/maus_dll/mauso_cnz/mauso_cxc/bin/lib_ext/libCXC1060386.so.1.4.1.txt
MAUS/maus_dll/mauso_cnz/mauso_cxc/bin/lib_ext/libCXC1060388.so.1.5.3
MAUS/maus_dll/mauso_cnz/mauso_cxc/bin/lib_ext/libCXC1060388.so.1.5.3.txt
MAUS/maus_dll/mauso_cnz/mauso_cxc/bin/lib_ext/libCXC1060388.so.1.5.5
MAUS/maus_dll/mauso_cnz/mauso_cxc/bin/lib_ext/libCXC1060388.so.1.5.5.txt
MAUS/maus_dll/mauso_cnz/mauso_cxc/bin/lib_ext/libCXC1060388.so.1.5.7
MAUS/maus_dll/mauso_cnz/mauso_cxc/bin/lib_ext/libCXC1060388.so.1.5.7.txt


# /mausc_cnz/
MAUS/maus_dll/mausc_cnz/mausc_cxc/bin/.debug/cphw_mauscd_dbg
MAUS/maus_dll/mausc_cnz/mausc_cxc/bin/cphw_mauscd


# /syscon_cnz/
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libIPMIlanserv.so
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libIPMIlanserv.so.0
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libIPMIlanserv.so.0.*
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMI.so
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMI.so.0
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMI.so.0.*
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIcmdlang.so
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIcmdlang.so.0
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIcmdlang.so.0.*
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIglib.so
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIglib.so.0
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIglib.so.0.*
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIposix.so
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIposix.so.0
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIposix.so.0.*
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIpthread.so
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIpthread.so.0
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIpthread.so.0.*
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMItcl.so
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMItcl.so.0
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMItcl.so.0.*
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIui.so
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIui.so.1
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIui.so.1.*
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIutils.so
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIutils.so.0
MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIutils.so.0.*
MAUS/maus_dll/syscon_cnz/syscon_cmd_caa/obj/cmd_syscon_main_40.o
MAUS/maus_dll/syscon_cnz/syscon_cmd_caa/obj/CmdError.o
MAUS/maus_dll/syscon_cnz/syscon_cmd_caa/obj/IPAddressTable.o
MAUS/maus_dll/syscon_cnz/syscon_cmd_caa/obj/Keyboard.o
MAUS/maus_dll/syscon_cnz/syscon_cmd_caa/obj/SolConnect.o
MAUS/maus_dll/syscon_cnz/syscon_cmd_caa/obj/SolSession.o
MAUS/maus_dll/syscon_cnz/syscon_cmd_caa/obj/SysconClient.o
MAUS/maus_dll/syscon_cnz/syscon_common/obj/AppTrace.o
MAUS/maus_dll/syscon_cnz/syscon_common/obj/CmdFunx.o
MAUS/maus_dll/syscon_cnz/syscon_common/obj/DmxGepInfo.o
MAUS/maus_dll/syscon_cnz/syscon_common/obj/FileFunx.o
MAUS/maus_dll/syscon_cnz/syscon_common/obj/GepFunx.o
MAUS/maus_dll/syscon_cnz/syscon_common/obj/GepInfo.o
MAUS/maus_dll/syscon_cnz/syscon_common/obj/ParseIni.o
MAUS/maus_dll/syscon_cnz/syscon_common/obj/SysFunx.o
MAUS/maus_dll/syscon_cnz/syscon_common/obj/ScbGepInfo.o
MAUS/maus_dll/syscon_cnz/syscon_common/obj/ScxGepInfo.o
MAUS/maus_dll/syscon_cnz/syscon_common/obj/SmxGepInfo.o
MAUS/maus_dll/syscon_cnz/syscon_common/obj/ScoPinger_30.o
MAUS/maus_dll/syscon_cnz/syscon_common/obj/libsysconcommon.a
MAUS/maus_dll/syscon_cnz/syscon_cxc/bin/.debug/syscon_dbg
MAUS/maus_dll/syscon_cnz/syscon_cxc/bin/syscon

# /gprshm_cnz/
GPRSHM/gprshm_cnz/gprshm_cxc/bin/.debug/cphw_gprshmd_dbg
GPRSHM/gprshm_cnz/gprshm_cxc/bin/.debug/t_gprshm_dbg
GPRSHM/gprshm_cnz/gprshm_cxc/bin/cphw_gprshmd

# not modified blocks
/vGPR/

# /syscon_cnz/
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libIPMIlanserv.so
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libIPMIlanserv.so.0
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libIPMIlanserv.so.0.*
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMI.so
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMI.so.0
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMI.so.0.*
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIcmdlang.so
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIcmdlang.so.0
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIcmdlang.so.0.*
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIglib.so
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIglib.so.0
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIglib.so.0.*
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIposix.so
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIposix.so.0
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIposix.so.0.*
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIpthread.so
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIpthread.so.0
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIpthread.so.0.*
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMItcl.so
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMItcl.so.0
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMItcl.so.0.*
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIui.so
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIui.so.1
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIui.so.1.*
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIutils.so
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIutils.so.0
!MAUS/maus_dll/syscon_cnz/openipmi/lib64/libOpenIPMIutils.so.0.*
MAUS/maus_dll/syscon_cnz/syscon_cmd_caa/obj/cmd_syscon_main_40.o
MAUS/maus_dll/syscon_cnz/syscon_cmd_caa/obj/CmdError.o


### END ### --->

